<html>
    <head>
        {{define "title"}}About{{end}}
    </head>

    <body>
        {{define "main"}}
            <h3>About</h3>
            <p>Welcome to SnippetBox!

                SnippetBox is a modern, lightweight application designed for developers and
                enthusiasts who want to easily store and manage code snippets. Built with
                performance and simplicity in mind, SnippetBox leverages the power of Golang to
                provide a fast and reliable platform for all your coding needs.
            </p>
        {{end}}
    </body>

</html>