{{define "nav"}}
<nav>
    <a href="/">home</a>
    <a href="/snippet/create">Create a snippet</a>
    <form action='/user/logout' method='POST'>
        <button>Logout</button>
    </form>
</nav>
{{end}}